.close {
  color: #aaaaaa;
  float: left;
  font-size: 25px;
  font-weight: bold;
}
.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
  float: left;
}

.view {
  width: auto;
  margin:20px;
  display: flex;
  float: left;
  text-align: center;
}

